.box{
	height: 50px;
	width: 100%;
	margin-bottom: 1px;
}

.pink{
	background-color: f5c6d6;
}
.hot pink{
	background-color: ee2e84;
}
.hot pink{
	background-color: ee2e84;
}
.hot pink{
	background-color: ee2e84;
}
.hot pink{
	background-color: ee2e84;
}
.blue{
	background-color:85cfd8 ;
}
.blue{
	background-color:85cfd8 ;
}
.green{
	background-color: 8dc63f;
}
. 